<ng-container *ngIf="user">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{pageTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userEditForm" (ngSubmit)="saveUser()">
        <p>
          <mat-form-field class="example-full-width">
            <input  matInput
                    placeholder="Name"
                    formControlName="name">
            <mat-error *ngIf="formErrorMessages?.name">{{formErrorMessages?.name}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <input  matInput
                    placeholder="Email"
                    formControlName="email">
            <mat-error *ngIf="formErrorMessages?.email">{{formErrorMessages?.email}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <input  matInput
                    placeholder="Phone"
                    formControlName="phone">
            <mat-error *ngIf="formErrorMessages?.phone">{{formErrorMessages?.phone}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <input  matInput
                    placeholder="Address"
                    formControlName="address">
            <mat-error *ngIf="formErrorMessages?.address">{{formErrorMessages?.address}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <button mat-raised-button 
                  color="success" type="submit" 
                  [disabled]="!userEditForm.valid || !userEditForm.dirty"
                  >Save</button>
          <button mat-raised-button color="accent" (click)="cancelEdit()">Canel</button>
          <ng-container *ngIf="user?.id">
            <button mat-raised-button color="warn" (click)="deleteUser()">Delete</button>
          </ng-container>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</ng-container>
